.form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    input {
        flex: 1;
        max-width: 300px;
    }

}

.index__update {
    .flex-wrap {
        display: flex;
        align-items: center;
    }

    .set__height {
        .index__profile--content--item {
            position: relative;


            h3 {
                position: absolute;
                top: -32px;
                user-select: none;
                cursor: default;
            }
            input{
                font-size: 1.2rem;
                font-weight: 500;
            }
            .sex {
                font-size: 1.4rem;
                font-weight: 700;
                border: 1px solid rgba(0,0,0,0.1);
                padding: 10px;
                width: 130px;
                user-select: none;
                cursor: pointer;

                i{
                    margin-left: 1.2rem;
                    font-size: 1.4rem;
                    display: inline-flex;
                    justify-content: flex-end;
                }
            }
            .index__profile--content--list {
                position: absolute;
                top: 10px;
                left: 0px;
                width: 130px;
                list-style: none;
                padding-left: 0;
                border-radius: 4px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                color: black;
                display: none;
                animation: fade-in 0.3s ease-in-out;

                @keyframes fade-in {
                    0% {
                        opacity: 0;
                        transform: translateX(-10px);
                    }

                    100% {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                }

                .index__profile--content--list-item {
                    padding: 10px;
                    font-size: 1.3rem;
                    font-weight: 700;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                    }
                }
            }

            .index__profile--content--list.show {
                display: block;
            }
        }

        .index__profile--content--item {
            cursor: pointer;
        }

        

        input {
            width: 100%;
            padding: 10px;
        }
    }
}
.contain__button{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn{
        background-color: rgb(250, 90, 62);
        width: 300px;
        border: none;
        &:hover{
            background-color: tomato;
        }
    }

}
.avt-file {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 21px;
    }

    .file {
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 2.5rem;

        input {
            min-width: 14rem;
            margin: 0;
            filter: alpha(opacity=0);
            opacity: 0;
        }

        .file-custom {
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 375px;
            overflow: hidden;
            position: absolute;
            top: -5px;
            right: 0;
            left: 0;
            z-index: 5;
            height: 40px;
            padding: 0.5rem 1rem;
            line-height: 1.5;
            color: #555;
            background-color: #fff;
            border: 0.075rem solid #ddd;
            border-radius: 6px;
            box-shadow: inset 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;


            &::before {
                position: absolute;
                top: -0.075rem;
                right: -0.075rem;
                bottom: -0.075rem;
                z-index: 6;
                content: "Browse";
                height: 40px;
                padding: 0.5rem 1rem;
                line-height: 1.5;
                color: #555;
                background-color: #eee;
                border: 0.075rem solid #ddd;
                border-radius: 0 0.25rem 0.25rem 0;
                width: 55px;
                align-items: center;
                display: flex;
                justify-content: center;
                box-sizing: border-box;
            }

            &::after {
                content: "Chọn ảnh...";
            }
        }
    }
}

button {
    padding: 6px;
    margin: 2rem 0 1rem;
    width: 100px;
}