.index__profile--content--item {
    i {
        position: absolute;
        right: 14px;
        top: 14px;
        font-size: 1.4rem;
        user-select: none;
        &:hover {
            color: tomato;
        }
    }
}
.index__profile--content--item .show {
    color:tomato
}