.update-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    width: 400px;
    border: 1px solid black;
    padding: 10px;

    .form-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 1rem;

        .update-pass-info {
            flex: 1;
            max-width: 300px;
        }
    }

    button {
        padding: 6px;
        margin: 2rem 0 1rem;
        width: 100px;
    }


}