.padding--fake {
    padding-top: 140px;
}

.wrap--product__order {

    .products {

        h2 {
            margin-left: 1rem;
        }

        .wrap--product__order--twice {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 5px;

            img {
                width: 97px;
                margin-right: 2rem;
            }

            h4 {
                font-size: 1.3rem;
            }

            span {
                font-size: 1.4rem;
                font-weight: 700;
                color: red;
            }
        }
    }

    .wrap--main {
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;

        display: flex;

        .products {
            flex: 1;
        }

        .info--all {
            flex: 1;
            border-left: 1px solid rgba(0, 0, 0, 0.1);

        }

        .info--all__heading {
            text-align: start;
            .order-status{
                color: rgb(14, 190, 14);
            }
            h2 {
                margin-left: 1rem;
            }

            ul {
                list-style: none;
                padding-right: 23px;

                li {
                    font-size: 1.3rem;
                    display: flex;
                    justify-content: space-between;
                    padding: 17px 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                    &:last-child {
                        border: none;
                    }

                    span {
                        color: tomato;
                        font-size: 1.3rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.no--order {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .btn {
        padding: 0;

        &:hover {
            background-color: tomato;
        }

        a {
            text-decoration: none;
            display: block;
            padding: 11px;
            color: black;

            &:hover {
                color: white;
            }
        }
    }
}