@use '../../../scss/'as *;

.resetpassword-screen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16%;
    padding-bottom: 9%;
    &__form {
        margin: 0px 12px 12px;
        width: 480px;
        padding: 1.5rem;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        background: #fff;
        border-radius: 10px;

        input {
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius:6px;
            color: black;
            font-weight: 590;
            font-size: 1.25rem;
            padding: 11px 9px;
                width: 337px;

            &::placeholder {
                font-size: 1.2rem;

                font-weight: 500;
                color: #877;
            }
        }

        input:focus {
            border: 1px solid rgba(0, 0, 0, 0.8);
        }

        label {

            margin-bottom: 0.7rem;
            font-size: 0.8rem;
            font-weight: 600;
            margin-left: 21px;
        }

        .form-group {
            margin: 1.4rem 0px;

            &__align {
                text-align: start;
                margin-bottom: 1.7rem;

                label {
                    font-size: 1.3rem;

                    font-weight: 600;
                    margin-left: 21px;
                }
            }
        }

        .form-group,
        .form-group-remaining {
            text-align: center;
        }

        .form-submit {
            display: flex;
            justify-content: center;

            .btn {
                border-radius: 8px;
                margin:2rem auto;
                width: 199px;
                &:hover {
                    background-color: tomato;
                    border: none;
                    color: white;
                }
            }
        }

        .form-group-remaining {
            width: 100%;
            margin: 1.4rem 0px 0.7rem;
        }
    }
    &__title {
        font-size: 1.7rem;
        font-weight: 650;
        text-align: center;
        margin-bottom: 2.5rem;
    }
}

.resetpassword-screen__login {
    font-size: 0.7rem;
    font-weight: 500;
    color: red;
    display: flex;
    justify-content: center;

    margin: 2px auto;

    &:hover {
        text-decoration: underline;

    }
}